<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id="jumble">{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <!-- <input type="submit" name="try" /> -->
  </form>
</div></div>

<br />

<p id="results"> </p>
<p class="message" id="message"></p>

<script>
// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });

// create a varible that will keep track of the value
// of the attempt input previous to the key being pressed
var stored_txt = $("#attempt").val();

var current_jumble = "{{ session.jumble }}"

// On each keystroke, ask the server whether the current 
// word is in letterbag and in vocab words (matches).

$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);
   
   // EXTRA CREDIT: DON'T ALLOW INVALID CHARACTERS
   if (! validity(letter, txt)){ return }
   stored_txt = txt

   // EXTRA CREDIT: HIGHLIGHTING
   highlighter(txt);

 

   // EXTRA CREDIT: GREY OUT
   greyout(txt);

   $.getJSON( "/_check", { text: txt }, 
              function(data) {
                rsval = data.result.matched;
                rsmsg = txt != "" ? data.result.message : "";
                rsstop = data.result.enough;
                
                if (rsval){
                  $("#attempt").val("");
                  $("#message").text("");
                  $("#results").append(txt + '<br/ >');

                  // reset value of current user input
                  stored_txt = "";
                  // reset highlighting
                  highlighter("");
                  // reset jumble
                  current_jumble = "{{ session.jumble }}";
                } 
                else {
                  $("#message").text(rsmsg);
                }
                if (rsstop){
                  $(location).attr("href", "/success");
                }
               }
           );
   }
);
// EXTRA CREDIT HIGHLIGHTING FUNCTION
function highlighter(text) {
  // a highlight container around the str text
  var rpl = "<mark class='highlight'>" + text + "</mark>"

  var word_list = document.getElementsByClassName("col-xs-2 text-center");  

  for (var i = 0; i < word_list.length; i++){
    word = word_list.item(i);

    // undo any previous highlighting
    word.innerHTML = word.innerText;

    // if string is nonempty, then add the highlight container
    if (word.innerText.startsWith(text) && (text != "")){
      word.innerHTML = word.innerHTML.replace(text, rpl);
    }
  }
}

// EXTRA CREDIT DON'T ALLOW INVALID CHARACTERS FUNCTION
function validity(letter, attempt_val){
  if (!current_jumble.toUpperCase().includes(letter)){
     if (attempt_val.length > stored_txt.length){
       $("#attempt").val(stored_txt);
       return false;
     }
   } 
   return true;
}

// EXTRA CREDIT GREY-OUT FUNCTION
function greyout(letters) {
  var index = -1;
  var jumble = "{{ session.jumble }}";
  var j_str = document.getElementById("jumble");
  // console.log(j_str);
  // var grey_indexes = [];

  // cancel grey out
  j_str.innerHTML  = j_str.innerText;

  for (var i = 0; i < letters.length; i++){
    // disable use
    index = jumble.indexOf(letters[i]);
    jumble = jumble.slice(0, index) + jumble.slice(index + 1);

    // indexes to grey out
    // for (var j = 0; j < '{{ session.jumble }}'; j++){
    //   grey_indexes.push(overall_index);
    // }
  }
  
  // grey_indexes.sort();

  // while (grey_indexes.length > 0){
  //   var grey_index = grey_indexes.pop()
  //   j_str.innerHTML = j_str.innerHTML.slice(0, grey_index) + "<mark class='unavailable'>" + 
  //                     j_str.innerHTML[grey_index] + "</mark>" + j_str.innerHTML.slice(grey_index+1);
  // }
  current_jumble = jumble;
}
  
</script>



 </div> <!-- container -->
</body> </html>
